<div class="" 
      style="
      padding: 1rem;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;">

<!-- Seccion de banner -->
<div class="" style="height: 50vh;">
  <img src="https://previews.dropbox.com/p/thumb/ACNRDr70vJo_SCx403sBTx-JHrvW5p_ClOuAsGQIughBUF3kvqaZY8A50q8DUSbz8e5XTve8FpT0vc5Fg9JYJfhUOuIs7XdcT_6UQ-ooHDnlN6SOJs03dMv0RbOsFS2heE4DWlO1RT4LLPniSVYnAXYOIxb_l0JD3j46c-zm-tzfY1OiAsHeaJ4orACVd68XlTS_P1NRgGUAeMa4YtKySCzpL95ANhtSLPJt_Kp6MPHPN-QA9qDcJI7IGf1vy7y4K0LaDJ8XnsQpLACx6ZsPKG6Jwv-U52FXXcQEWdsU25VWsR1phRB2QMTN_jlD-vXZezdQulw95erl5eoHiEr3hzqq/p.png" alt="" srcset="" 
    style="
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;">
</div>
<!-- Seccion de cards -->
<div class="" 
     style="
      width: 70%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 2rem;">

  <div class="mb-2" 
       style="
              width:18rem;
              height: 18rem;
              text-align: center;">
    <img src="https://images.pexels.com/photos/7951265/pexels-photo-7951265.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="
                        width: 100%;
                        height: -webkit-fill-available;
                        object-fit: cover;">
    <span class="m-2" 
          style="
                font-size: 15px;
                letter-spacing: 2px;
                font-family: sans-serif;
                opacity:0.7"
                >MURALS</span>
  </div>
  <div class="mb-2" 
       style="
              width:18rem;
              height: 18rem;
              text-align: center;">
    <img src="https://images.pexels.com/photos/2783837/pexels-photo-2783837.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="
                        width: 100%;
                        height: -webkit-fill-available;
                        object-fit: cover;">
    <span class="m-2" 
          style="
                font-size: 15px;
                letter-spacing: 2px;
                font-family: sans-serif;
                opacity:0.7"
                >STICKERS PACKS</span>
  </div>
  <div class="mb-2" 
       style="
              width:18rem;
              height: 18rem;
              text-align: center;">
    <img src="https://images.pexels.com/photos/15100360/pexels-photo-15100360/free-photo-of-arte-cuaderno-pintura-pintando.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="
                        width: 100%;
                        height: -webkit-fill-available;
                        object-fit: cover;">
    <span class="m-2" 
          style="
                font-size: 15px;
                letter-spacing: 2px;
                font-family: sans-serif;
                opacity:0.7"
                >ORIGINAL ARTWORK</span>
  </div>
  <div class="mb-2" 
       style="
              width:18rem;
              height: 18rem;
              text-align: center;">
    <img src="https://images.pexels.com/photos/1055077/pexels-photo-1055077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="
                        width: 100%;
                        height: -webkit-fill-available;
                        object-fit: cover;">
    <span class="m-2" 
          style="
                font-size: 15px;
                letter-spacing: 2px;
                font-family: sans-serif;
                opacity:0.7"
                >PAINTINGS</span>
  </div>

</div>
<!-- Seccion de footer -->
<div class=""
      style="
      width: 100%;
      height: 18rem;
      position: relative;
      background-color: #00000029;
      margin-top: 5rem;
      ">

</div> 
</div>
 
