<h1 class="bg-warning-subtle p-2 text-center display-6" style="letter-spacing: 5px; font-weight: 400;">Products</h1>

<section class="d-flex">
  <article class="d-flex flex-column aling-items-center w-50" style="align-items: center;">
   <h1 class="text-center">new product</h1>
   <form class="d-flex flex-column w-50">
    <input class="m-2" type="title" name="title" id="title" placeholder="title">
    <input class="m-2" type="category" name="category" id="category" placeholder="category">
    <input class="m-2" type="number" name="price" id="price" placeholder="price">
    <input class="m-2" type="number" name="stock" id="stock" placeholder="stock">
    <input class="m-2" type="text" name="photo" id="photo" placeholder="photo">
    <input class="m-2" type="button" value="Register" id="register">
  </form>
  </article>
  
  <article id="products" class="d-flex flex-wrap w-50"></article>
</section>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
  const socket = io();
  socket.on("products", data => {
    let template = ``
    template = data.map(each => `
      <div class="card m-2" style="width: 10rem;">
        <img style="height: 10rem" src="${each.photo}" class="card-img-top object-fit-contain" alt="${each.id}">
        <div class="card-body">
          <p>product: ${each.title}</p>
          <p>category: ${each.category}</p>
          <p>ID: ${each.id}</p>
          <p>price: ${each.price}</p>
          <p>stock: ${each.stock}</p>
        </div>
      </div>
      `).join("")
    document.querySelector("#products").innerHTML = template
  })
  document.querySelector("#register").addEventListener("click", (event)=> {
    const title = document.querySelector("#title").value
    const category = document.querySelector("#category").value
    const price = document.querySelector("#price").value
    const stock = document.querySelector("#stock").value
    const photo = document.querySelector("#photo").value
    console.log({title,category,price,stock,photo})
    socket.emit("new product", {title,category,price,stock,photo})
  })
</script>