<span class="bg-warning-subtle p-2 text-center display-6" style="letter-spacing: 5px; font-weight: 400; display:block">Register Form</span>
<main class="d-flex w-100 flex-grow-1">
  <section class="d-flex flex-column align-items-center w-100">
    <form class="d-flex flex-column w-25 m-3">
        <div class="form-floating mb-2">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="floatingInput">Password</label>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" name="photo" id="photo" placeholder="Photo">
            <label for="floatingInput">Photo</label>
        </div>
      <input class="m-2 p-2 text-center btn btn-primary" type="button" id="register" value="Register"/>
    </form>
  </section>
</main>