<h1 class="bg-warning-subtle p-2 text-center display-6" style="letter-spacing: 5px; font-weight: 400;">Users</h1>
<div class="container p-2">
  <div class="d-flex flex-wrap justify-content-center">
    {{#each users}}
      <div class="m-4">
        <div class="card d-flex align-items-center" style="width: 15rem;">
          {{#if this.photo}}
          <img src={{this.photo}} class="card-img-top" alt="..." style="width: 10rem;"/>
          {{else}}
          <p>
            Not Found
          </p>
          {{/if}}
          <div class="card-body" 
               style="display: flex;
                      flex-wrap: wrap;
                      justify-content: center;
                      gap: 10px;">
            <h5 class="card-title">{{this.email}}</h5>
            <div class="d-grid gap-2 col-6 mx-auto">
              <a
                href="users/{{this.id}}"
                class="btn btn-outline-info"
              >More details</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>